.main{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

.input{
    height: 300px;
}

.button{
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    flex-direction: column;
}

.btn {
    align-self: flex-end;
}